body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 15vw;
}

[data-side^="down"], [data-side^="right"], [data-side$="center"] {
  margin-right: 30vw;
}

menu-button ul {
  box-shadow: 0 0 2px 1px white;
}
